* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.app {
  padding: 60px calc((100% - 960px) / 2);
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #c5c0c0;
}
.app__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__form input,
.app_form select {
  margin: 15px;
}
